body {
  background-color: #1c1c1c;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 500px;
  margin: 0px auto 0px auto
}

.App__header {
  padding-left: 20px;
  padding-right: 20px;
}

.App__main {
  height: calc(100vh - 90px);
  overflow: auto;
  
}

@media all and (min-width: 800px){
  .App {
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 800px;
    margin: 0px auto 0px auto
  }
  
  .App__header {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .App__main {
    height: calc(100vh - 90px);
    overflow: auto;
    
  }
}